{
	"data": "ENC[AES256_GCM,data:W1TIltA2r0QWq/Nh3mrquZHSyeIXotFl1TQPZhkFFZObLGAvNY3GnA==,iv:S9ZTrq7gwDIRmpnuzUFyExhD54Iww/8h9hLWYPoW4FM=,tag:Aw0voTPrd/yDZWiV53Ag5w==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBVMGErWm1vamwzWjFmM2Vq\ndnBmQ09Sb01tS2tMakI2TGxiRUJRaW55ekcwCno5NWpVcjk3YXA0VjM5MmlPL2E3\ndkVDRmxDNnlTQXVZRTFVTGY0RmJ0UjQKLS0tIHlUQ2ZQYTcycGNaT0RKb0VOdDNB\ndXRSSFd0S0xWRFExQUpTQWNrRXl3ZmsKwLMSE7FsN0vJxKNcYFyAak7h7z+2HLf0\nwpr4DEw19M8EbmzdkmaWDHp6U3eSPbn1YlKe2RxA3apdOt8WYTCC7A==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2024-02-20T03:07:50Z",
		"mac": "ENC[AES256_GCM,data:z8DZ/nK2tRBPEXxk1DzxCN4faIIIEYDEI+MTF08TiT0kWmXnLzJC+EotHf9VP+U2Kni0b0qbH2MYI28rqO5h8R+9ce8MLw19wKnpPZidWkb+7GJn9lDuMQr0vY1wzcLnGKZxPTkwojWSdWOibuLohTJkPeEpE/7l9Q9bJz+4Z9U=,iv:Nj+f3Al2eGXkJ1qAiGr+hI5sWqVGPlzvva8TRDlY7jk=,tag:58wyzwEWaWNYmVMOqDbPgg==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}
