{
	"data": "ENC[AES256_GCM,data:JYGA1NkXZq0htsVBrtv1ov+p5vMi8i+CjFplN3BbGlZqPJSRwySFaA==,iv:W6ZTOyDTl5lr4BiiTrcBQK4ts0WgaoI7n4x0FWh2rPM=,tag:4FeVHY7G7Hd8drrL07DBfg==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBzS1lrVTgyd0wzbExaTkdt\nZ2NCTG9IbzRMbzc4MGsrM1huN2krekdMUUFVCmNvVGY1aFBUT3BwMWZMcFRtRVJs\nSGpZay9KRW1Ua1Bkb0JIVGZNWXQ3OFUKLS0tIC9rTDNtOEtOYXJjN3VyemRsdTF6\nSUIvRGRGaHk2aDlCZytseEhSMTY3TlUKQPw94xNFHMiYMEq4lMW7SyeyDfy82zvp\nnJmMmrZDyt7og+M0s0pyM+6GCbkAWtxHUNIXGI7lxLDAp51E2216Sw==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2024-01-24T05:14:07Z",
		"mac": "ENC[AES256_GCM,data:Iwdn3qZe1AdgMvIwrs+kOEoYmOV67WXBO5AH//8EIae31jOyyQfi0+7GcHSC2700gDN+xZBxpf9J82vQRXEObzRtlLseiHJVF8Rm997gy+d/Fx+4r4bQazWgWV+wacD/aKZh+6UaRqVjhNrvMBLLTu7gEH4iLhMcPrElSHvf72k=,iv:OdYHiZ2Wum5abJAk8Qx9br0sG9tJ8fJht8vwTmv2ICY=,tag:UEPLjHJ8jQf76zn6AHpT4w==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}