{
	"data": "ENC[AES256_GCM,data:CXpvK6YjElVxil6Yww+A8eUVGwxjbLFcm4Co5WdNyitDayLFN4Z2bw==,iv:QgtSWa0x7HMjCFPuUZvsPwbayCQgVq1fi3aeai6kQAE=,tag:UoMPAC+J4W6+0vbn3z2sWw==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA3d0lVQlYxeDZhWis5VXhk\nQldvV3ltVU4vamNmeXRyVFFYYjBZdTJScFFjCnBXUzVtRFozNHlqZlJwRjF2QUlI\neFFGWXJBOGVkbXVpU3kwYjMvZVN2bEkKLS0tIG9iTXoyOW9pczd1QnZXekRPYnp5\ncGdKTjZUam05MEgvYytuRXdTOG9pQmsKqC2ZmgG9AlFW48/LvE0rBJR+dw/L0lHo\n0+q3ghG47FUI+nVtDBG6QHwMXsvPRXRZncMb0Q4cXNFjn1KoB0bP+A==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2023-12-08T20:28:29Z",
		"mac": "ENC[AES256_GCM,data:UYtGWGdhXX2mF4bbhWElRVHRX6okFjaeh3Dldok+poTrW01Qbt7rqggJAGCUpgmprWwPA9Mfguq4DJgIMPQRcua9l9rgCe0646qOcLREYWjMqw8mtkMR1QgEDxz8jgvDy1ECkkqzqJ7pFEdpDX4bAq+9qGe0XB9Q0UeHIjde6mo=,iv:66bUGwBjTMusGrWx5u/08AJl2Ok3OsNWywkludb4q6s=,tag:uJXEsbT6owHfiehZXR5LYw==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}
